<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.ssgin.app.mapper">
 	<select id="login" parameterType="user" resultType="user">
 		SELECT  *
 		FROM 	<!-- 데이터베이스 생기면 삽입 -->	
		WHERE   ID=#{id}
		AND 	PWD=#{pwd}
 	</select>
</mapper>  
